@import '../../../../global.scss';

.drag_and_drop_item {
    position: relative;
    max-width: 210px;

    &.active {
        background-color: inherit;

        & > .start_dot, .end_dot {
            background-color: $blue;
            border-color: $dark-blue;
        }

        & > .item_body {
            background-color: $blue;
        }

        & > .divider_input, .divider_output {
            background-color: $dark-blue;
        }

        & > div > .item_title_input, .item_title_output {
            color: $white !important;
        }
    }

    &.on_desc {
        max-width: none;

        & > .start_dot, .end_dot {
            background-color: $light-grey;
        }

        & > div > .item_title_input, .item_title_output {
            @extend %regular;
        }

        & > div > .item_title_input {
            margin-left: 13px;
        }

        & > div > .item_title_output {
            margin-right: 13px;
        }
    }
}

%dot {
    width: 10px;
    height: 10px;
    background-color: $button-grey;
    border: 1px $dark-grey solid;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 1px;
}

.start_dot {
    @extend %dot;
    left: 0;
    margin-left: -1px;
}

.end_dot {
    @extend %dot;
    right: 0;
    margin-right: -1px;
}

.item_body {
    margin-left: 5px;
    margin-right: 5px;
    height: 34px;
    background-color: $button-grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-top: 1px;
}

.item_body.output {
    justify-content: space-between;
}

%divider {
    width: 1px;
    position: absolute;
    background-color: $dark-grey;
    top: 0;
    bottom: 0;
}

.divider_input {
    @extend %divider;
    left: 41px;
}

.divider_output {
    @extend %divider;
    right: 41px;
}

.item_icon_input {
    margin-left: 11px;
}

.item_icon_output {
    margin-right: 11px;
}

%item_title {
    @extend %item;
    color: $light-grey;
    white-space: nowrap;
}

.item_title_input {
    @extend %item_title;
    margin-left: 17px;
    margin-right: 42px;
}

.item_title_output {
    @extend %item_title;
    margin-right: 17px;
    margin-left: 15px;
}

.dragging_item {
    min-width: 207px;
    min-height: 33px;
    background-color: $darkest-grey30;
    border: 1px dashed $border-grey;
}
